NEXT_PUBLIC_DEPLOY_ENV=dev

NEXT_PUBLIC_FRONTEND_URL=http://localhost:3131/
NEXT_PUBLIC_BACKEND_BASE_URL=http://localhost:3000/

NEXT_PUBLIC_FIREBASE_API_KEY=<firebase apiKey>
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=<firebase authDomain>
NEXT_PUBLIC_FIREBASE_PROJECT_ID=<firebase projectId>
NEXT_PUBLIC_FIREBASE_APP_ID=<firebase appId>

# not needed in dev environment
# NEXT_PUBLIC_SENTRY_DSN=<sentry dsn>
# SENTRY_URL=https://sentry.io/
# SENTRY_ORG=<sentry org>
# SENTRY_PROJECT=<sentry project>
# SENTRY_AUTH_TOKEN=<sentry api token>

# required to develop announcements
# CONTENTFUL_SPACE_ID=<contentful space id>
# CONTENTFUL_TOKEN=<contentful content delivery token>
