@import "src/styles/mixins";
@import "src/styles/variables";

.wrapper {
  @include mainArea;
}

.title {
  @include pageTitle;
}

.emptyWrapper {
  @include emptyWrapper;
}

.section {
  margin-bottom: 32px;
}

.sectionTitle {
  font-size: 1.5em;
  margin-bottom: 12px;
}

.timelineWrapper {
  margin-top: 24px;
}

.timelineDescription {
  color: $color-text-sub;
}

.generalInfoTableItem {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.generalInfoTableKey {
  color: $color-text-sub;
  width: 8em;
  margin-bottom: 8px;
}

.generalInfoTableValue {
  flex-shrink: 1;
}

.noRegistrationForms,
.registrationFormLoading {
  padding: 16px 0;
  @include flexCenter;
}

.registrationFormRowWrapper {
  border-bottom: 1px solid $color-gray-100;
  transition: background-color 200ms;

  &:first-child {
    border-top: 1px solid $color-gray-100;
  }

  &:hover,
  &:focus-within {
    background-color: $color-gray-50;
  }
}

.registrationFormRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}

.isAnsweredChip {
  padding: 4px 12px;
  border-radius: 4px;
  background-color: $color-brand;
  color: white;

  &[data-answered="true"] {
    background-color: $color-gray-100;
    color: $color-text-primary;
  }
}
