@import "../../styles/variables";
@import "../../styles/mixins";

.wrapper {
  @include mainArea;
}

.title {
  @include pageTitle;
}

.emptyWrapper {
  @include emptyWrapper;
}

.form {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.legend {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 32px;
}

.terms {
  margin-bottom: 8px;
}

.termsError {
  margin-top: 8px;
  color: $color-caution;
}

.submitButtonWrapper {
  margin-top: 48px;
}
