@import "../../styles/variables";
@import "../../styles/mixins";

.wrapper {
  @include mainArea;
}

.title {
  @include pageTitle;
}

.panelWrapper {
  margin-bottom: 16px;

  &:hover {
    .panelIconBg {
      transform: scale(1.1);
    }

    .linkArrowIcon {
      transform: translateX(8px);
    }
  }
}

.panelInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.panelContentRight {
  display: flex;
  align-items: center;
}

.panelIconBg {
  background-color: $color-brand;
  padding: 8px;
  border-radius: 10px;
  transition: transform 200ms ease-in-out;
}

.panelIcon {
  font-size: 2em;
  color: white;
}

.panelTitle {
  margin-left: 16px;
  font-size: 1.2em;
}

.linkArrowIcon {
  font-size: 2em;
  color: $color-gray-400;
  transition: transform 200ms ease-in-out;
}
