@import "../../styles/variables";

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: -12px -18px;
}

.selectorsWrapper {
  margin: 12px 18px;
}

.selectorsDescription {
  color: $color-text-sub;
  margin-bottom: 8px;
}

.checkbox {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.attributesAndOrWrapper {
  margin-bottom: 12px;
}
