@import "../../../styles/variables";
@import "../../../styles/mixins";

.wrapper {
  @include mainArea;
}

.title {
  @include pageTitle;
}

.emptyWrapper {
  @include emptyWrapper;
}

.emptyFormsWrapper {
  @include emptyWrapper;
  height: 64px;
}

.section {
  &:not(:last-of-type) {
    margin-bottom: 40px;
  }
}

.sectionTitle {
  font-size: 1.5em;
  margin-bottom: 24px;
}

.formRowWrapper {
  &:not(:last-of-type) {
    margin-bottom: 12px;
  }
}

.formRowInner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.formName {
  width: 200%;
  flex-shrink: 1;
  margin-right: 16px;
  @include ellipsis;
}

.formDate {
  width: 100%;
  min-width: 12em;
  flex-shrink: 1;
  margin-right: 16px;
  color: $color-text-sub;
  display: flex;
  align-items: center;
}

.formDateIcon {
  margin: 0 2px;
}

.formAnsweredStateWrapper {
  width: 5em;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
}

.formAnsweredState {
  display: inline-block;
  padding: 2px 8px;
  border-radius: 4px;
  background-color: $color-brand-tint-900;
  color: $color-brand-shade-200;
  font-size: 0.9em;
}
