$color-brand: #6600cc;

$color-brand-shade-100: #5c00b8;
$color-brand-shade-200: #5200a3;
$color-brand-shade-300: #47008f;
$color-brand-shade-400: #3d007a;
$color-brand-shade-500: #330066;
$color-brand-shade-600: #290052;
$color-brand-shade-700: #1f003d;
$color-brand-shade-800: #140029;
$color-brand-shade-900: #0a0014;

$color-brand-tint-100: #751ad1;
$color-brand-tint-200: #8533d6;
$color-brand-tint-300: #944ddb;
$color-brand-tint-400: #a366e0;
$color-brand-tint-500: #b380e6;
$color-brand-tint-600: #c299eb;
$color-brand-tint-700: #d1b3f0;
$color-brand-tint-800: #e0ccf5;
$color-brand-tint-900: #f0e6fa;
$color-brand-tint-1000: #f7f1fd;

$color-gray-50: #f5f4f6;
$color-gray-100: #edebef;
$color-gray-150: #e1dde4;
$color-gray-200: #d4ced9;
$color-gray-300: #b5acbe;
$color-gray-400: #8c7f9a;
$color-gray-500: #70637d;
$color-gray-600: #5a4f64;
$color-gray-700: #433b4b;
$color-gray-800: #2d2832;

$color-text-primary: $color-gray-800;
$color-text-sub: $color-gray-500;

$color-caution: #da1e28;

$color-caution-shade-100: #c41b24;
$color-caution-shade-200: #ae1820;
$color-caution-shade-300: #99151c;
$color-caution-shade-400: #831218;
$color-caution-shade-500: #6d0f14;
$color-caution-shade-600: #570c10;
$color-caution-shade-700: #41090c;
$color-caution-shade-800: #2c0608;
$color-caution-shade-900: #160304;

$color-caution-tint-100: #de353e;
$color-caution-tint-200: #e14b53;
$color-caution-tint-300: #e56269;
$color-caution-tint-400: #e9787e;
$color-caution-tint-500: #ed8f94;
$color-caution-tint-600: #f0a5a9;
$color-caution-tint-700: #f4bcbf;
$color-caution-tint-800: #f8d2d4;
$color-caution-tint-900: #fbe9ea;
