$color-brand: #6600cc;

$color-brand-shade-100: #5c00b8;
$color-brand-shade-200: #5200a3;
$color-brand-shade-300: #47008f;
$color-brand-shade-400: #3d007a;
$color-brand-shade-500: #330066;
$color-brand-shade-600: #290052;
$color-brand-shade-700: #1f003d;
$color-brand-shade-800: #140029;
$color-brand-shade-900: #0a0014;

$color-brand-tint-100: #751ad1;
$color-brand-tint-200: #8533d6;
$color-brand-tint-300: #944ddb;
$color-brand-tint-400: #a366e0;
$color-brand-tint-500: #b380e6;
$color-brand-tint-600: #c299eb;
$color-brand-tint-700: #d1b3f0;
$color-brand-tint-800: #e0ccf5;
$color-brand-tint-900: #f0e6fa;

$color-gray-100: #f5f4f6;
$color-gray-200: #edebef;
$color-gray-300: #e0dde4;
$color-gray-400: #d4ced9;
$color-gray-500: #c7c0ce;
$color-gray-600: #b5acbe;
$color-gray-700: #a398ae;
$color-gray-800: #8c7f9a;
$color-gray-900: #7f708f;
$color-gray-1000: #70637d;
