@import "../../styles/variables";

$radius-sm: 8px;
$radius-md: 12px;

$lineWidth: 2px;

.wrapper {
  display: inline-block;
  position: relative;
  width: $radius-md * 2 + $lineWidth * 2;
  height: $radius-md * 2 + $lineWidth * 2;

  &[data-size="sm"] {
    width: $radius-sm * 2 + $lineWidth * 2;
    height: $radius-sm * 2 + $lineWidth * 2;

    .circular {
      width: $radius-sm * 2 + $lineWidth * 2;
      height: $radius-sm * 2 + $lineWidth * 2;
    }

    .path {
      cx: $radius-sm + $lineWidth;
      cy: $radius-sm + $lineWidth;
      r: $radius-sm;
    }
  }

  &[data-color="white"] {
    .path {
      stroke: white;
    }
  }

  &[data-color="brand"] {
    .path {
      stroke: $color-brand-tint-500;
    }
  }
}

.circular {
  animation: rotate 2s linear infinite;
  width: $radius-md * 2 + $lineWidth * 2;
  height: $radius-md * 2 + $lineWidth * 2;
}

.path {
  animation: dash 1.5s ease-in-out infinite;
  cx: $radius-md + $lineWidth;
  cy: $radius-md + $lineWidth;
  r: $radius-md;
  fill: none;
  stroke: $color-gray-300;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-width: $lineWidth;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 80, 200;
    stroke-dashoffset: -20;
  }

  100% {
    stroke-dasharray: 80, 200;
    stroke-dashoffset: -100;
  }
}
