@import "../../../styles/mixins";
@import "../../../styles/variables";

.wrapper {
  @include mainArea;
}

.title {
  @include pageTitle;
}

.newFormButton {
  margin-bottom: 24px;
}

.emptyWrapper {
  @include emptyWrapper;
}

.formRowWrapper {
  &:not(:last-of-type) {
    margin-bottom: 12px;
  }
}

.formRowInner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @mixin mobile {
    flex-wrap: wrap;
  }
}

.formName {
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: 16px;
}

.formDate {
  width: 18em;
  flex-shrink: 0;
  margin-right: 8px;
  color: $color-text-sub;
  display: flex;
  align-items: center;
}

.formDateIcon {
  margin: 0 2px;
}

.formDateState {
  display: block;
  margin-left: 8px;
  padding: 2px 8px;
  border-radius: 4px;
  background-color: $color-brand-tint-900;
  color: $color-brand-shade-200;
  font-size: 0.9em;
}

.sortLabel {
  margin-bottom: 8px;
  margin-left: 15px;
}
