@import "../../../styles/variables";
@import "../../../styles/mixins";

.wrapper {
  @include mainArea;
}

.title {
  margin-bottom: 32px;
}

.sectionWrapper {
  &:not(:last-of-type) {
    margin-bottom: 48px;
  }

  &:last-of-type {
    margin-bottom: 64px;
  }
}

.dateTimeInputWrapper {
  display: flex;
  align-items: flex-end;
}

.dateTimeInputItem {
  max-width: 10em;
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  &:not(:last-child) {
    margin-right: 16px;
  }
}

.dateTimeInputLabel {
  margin-left: 8px;
  color: $color-text-sub;
}

.sectionTitle {
  margin-bottom: 16px;
}
