@import "../../../styles/variables";
@import "../../../styles/mixins";

.wrapper {
  @include mainArea;
}

.title {
  @include pageTitle;
}

.sectionWrapper {
  &:not(:last-of-type) {
    margin-bottom: 48px;
  }

  &:last-of-type {
    margin-bottom: 64px;
  }
}

.dateTimeInputLabel {
  margin-bottom: 8px;
}

.dateTimeInputWrapper {
  display: flex;
  align-items: flex-start;
}

.dateTimeInputItem {
  max-width: 8em;
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  &:not(:last-of-type) {
    margin-right: 16px;
  }
}

.sectionTitle {
  margin-bottom: 16px;
}

.itemWrapper {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.itemPanel {
  flex-grow: 1;
}

.itemType {
  font-size: 1.2em;
  margin-bottom: 24px;
}

.twoColumnFields {
  display: flex;
  flex-direction: row;

  & .twoColumnField {
    flex-grow: 1;

    &:not(:last-of-type) {
      margin-right: 16px;
    }
  }
}

.itemActions {
  margin-left: 8px;
}

.addItemWrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: -16px;
}

.addButton {
  margin-bottom: 16px;

  &:not(:last-of-type) {
    margin-right: 16px;
  }
}
