@import "src/styles/mixins";
@import "src/styles/variables";

.wrapper {
  @include mainArea;
}

.title {
  @include pageTitle;
}

.textWrapper {
  margin-bottom: 12px;
}

.paragraph {
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.linksWrapper {
  margin-bottom: 12px;
}

.link {
  display: flex;
  align-items: center;
  color: $color-brand;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.linkIcon {
  margin-right: 4px;
}

.date {
  color: $color-text-sub;
}

.emptyWrapper {
  @include emptyWrapper;
}

.goBackButton {
  margin-top: 24px;
  color: $color-brand;
}

.goBackButtonText {
  display: inline-flex;
  padding-bottom: 3px;
  align-items: center;
  @include hoverUnderline($color-brand);
}

.goBackButtonIcon {
  font-size: 1.2em;
}
