@import "src/styles/mixins";
@import "src/styles/variables";

.wrapper {
  @include mainArea;
  max-width: 900px;
}

.title {
  @include pageTitle;
}

.textWrapper {
  margin-bottom: 24px;
}

.paragraph {
  margin-bottom: 12px;
}

.date {
  color: $color-text-sub;
}

.emptyWrapper {
  @include emptyWrapper;
}

.goBackButton {
  margin-top: 24px;
  color: $color-brand;
}

.goBackButtonText {
  display: flex;
  align-items: center;
}

.goBackButtonIcon {
  font-size: 1.2em;
}
