@import "src/styles/mixins";
@import "src/styles/variables";

.wrapper {
  @include mainArea;
}

.pageTitle {
  @include pageTitle;
}

.section {
  margin-bottom: 48px;
}

.sectionTitle {
  font-size: 1.5em;
  margin-bottom: 24px;
}

.panelRowWrapper {
  margin-bottom: 24px;

  &[data-cols="2"] {
    display: flex;
    flex-direction: column;

    & > .panelWrapper {
      width: 100%;

      &:not(:last-of-type) {
        margin-bottom: 24px;
      }
    }

    @media screen and (min-width: 1200px) {
      flex-direction: row;

      & > .panelWrapper {
        width: calc(50% - 12px);

        &:not(:last-of-type) {
          margin-right: 24px;
        }
      }
    }
  }
}

.sectionInPanel {
  &:not(:last-of-type) {
    margin-bottom: 32px;
  }
}

.panelTitle {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid $color-gray-100;
}

.applicationGuideLinkItem {
  display: inline-block;
  margin-right: 12px;
  margin-top: 12px;
}

.links {
  margin-top: 16px;
}

.announcementsListItem {
  border-top: 1px solid $color-gray-100;

  &:last-child {
    border-bottom: 1px solid $color-gray-100;
  }
}

.announcementRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  transition: background-color 200ms;

  &:hover,
  &:focus-within {
    background-color: $color-gray-50;
  }
}

.announcementTitle {
  flex-shrink: 1;
  margin-right: 16px;
  @include ellipsis;
}

.announcementDate {
  @include ellipsis;
  color: $color-text-sub;
  flex-shrink: 0;
}

.moreAnnouncements {
  margin-top: 12px;

  &Link {
    color: $color-brand;
    display: inline-flex;
    padding-bottom: 3px;
    align-items: center;
    @include hoverUnderline($color-brand);

    &Icon {
      color: $color-brand;
      margin-right: 2px;
    }
  }
}
