@import "../styles/variables";
@import "../styles/mixins";

.wrapper {
  height: 100%;
  @include flexCenter;
}

.formWrapper {
  width: 100%;
  max-width: 35em;
  margin: 0 2em;
}

.error {
  margin-top: 16px;
  color: $color-caution;
}
