@import "../styles/variables";
@import "../styles/mixins";

.wrapper {
  min-height: 100%;
  padding: 64px 0;
  @include flexCenter;
}

.formWrapper {
  width: 100%;
  max-width: 35em;
  margin: 0 2em;
}

.legend {
  color: $color-text-primary;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 32px;
}

.submitButton {
  margin-top: 32px;
}

.resetPasswordLink {
  margin-top: 16px;
  color: $color-text-sub;
}

.error {
  margin-top: 16px;
  color: $color-caution;
}
