@import "src/styles/mixins";
@import "src/styles/variables";

.wrapper {
  @include mainArea;
}

.title {
  @include pageTitle;
}

.actionsWrapper {
  margin-bottom: 24px;
}

.emptyWrapper {
  @include emptyWrapper;
}

.rowWrapper {
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.rowInner {
  display: flex;
  align-items: center;
}
