@import "../../../styles/variables";
@import "../../../styles/mixins";

.wrapper {
  @include mainArea;
}

.title {
  @include pageTitle;
}

.downloadButton {
  margin-bottom: 24px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.head {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding: 0 12px;
  @include ellipsis;
}

.headCell {
  width: 100%;
  flex-shrink: 1;
  color: $color-text-primary;
  font-weight: normal;
  font-size: 1.2em;
}

.row {
  display: flex;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid $color-gray-100;
  transition: background-color 200ms;

  &:hover,
  &:focus-within {
    background-color: $color-gray-50;
  }
}

.rowWrapper {
  &:first-of-type {
    .row {
      border-top: 1px solid $color-gray-100;
    }
  }
}

.cell {
  width: 100%;
  flex-shrink: 1;
  color: $color-text-sub;
  @include ellipsis;
}

.emptyWrapper {
  @include emptyWrapper;
}
