@import "src/styles/mixins";
@import "src/styles/variables";

$paddingVertical: 8px;
$borderWidth: 1px;
$minInnerHeight: 32px;
$minOuterHeight: $minInnerHeight + 2 * $paddingVertical + 2 * $borderWidth;

.fileWrapper {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.itemWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: $paddingVertical 12px;
  min-height: $minOuterHeight;
  border: $borderWidth solid $color-gray-200;
  border-radius: 10px;

  &[data-error] {
    border-color: $color-caution;

    .icon {
      color: $color-caution;
    }
  }
}

.filename {
  width: 100%;
  flex-shrink: 1;
  @include ellipsis;
}

.icon {
  margin-right: 4px;
}

.fileSize {
  color: $color-text-sub;
  margin-left: 16px;
  white-space: nowrap;
}

.downloadButton {
  flex-shrink: 0;
  margin-left: 4px;
}

.empty {
  @include flexCenter;
  padding: $paddingVertical 12px;
  min-height: $minOuterHeight;
  border: $borderWidth solid $color-gray-200;
  border-radius: 10px;
}
