@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.wrapper {
  @include mainArea;
}

.title {
  @include pageTitle;
}

.emptyWrapper {
  @include emptyWrapper;
}

.tableRowValueWithCopyButtonWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tableRow {
  &:hover,
  &:focus-within {
    .tableRowValueCopyButton {
      opacity: 1;
    }
  }
}

.tableRowValueCopyButton {
  opacity: 0;
  transition: opacity 200ms;
}

.projectName {
  font-size: 1.5em;
  margin-bottom: 8px;
}

.projectCode {
  color: $color-text-sub;
  margin-bottom: 24px;
}

.ownerDetailsLink {
  display: flex;
  align-items: center;
  color: $color-brand;
  @include hoverUnderline($color-brand);

  &ArrowIcon {
    margin-left: 2px;
    color: $color-brand;
  }
}
