@import "../../styles/variables";
@import "../../styles/mixins";

.button {
  position: relative;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: transparent;
  transition: background-color 200ms;
  @include flexCenter;

  &:hover {
    background-color: $color-gray-100;
  }

  &[data-size="small"] {
    width: 24px;
    height: 24px;

    & .icon {
      font-size: 18px;
    }
  }

  &[data-danger="true"] {
    &:hover {
      background-color: $color-caution-tint-900;

      .icon {
        color: $color-caution;
      }
    }
  }

  &[data-processing] {
    .spinnerWrapper {
      opacity: 1;
    }

    .iconWrapper {
      opacity: 0;
    }
  }
}

.spinnerWrapper,
.iconWrapper {
  position: absolute;
  transition: opacity 100ms;
}

.spinnerWrapper {
  opacity: 0;
}

.icon {
  font-size: 24px;
  color: $color-text-sub;
}
