@import "../styles/variables";
@import "../styles/mixins";

.wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  background-color: $color-gray-50;

  @include mobile {
    overflow-y: auto;
    display: block;
  }
}

.sidebar {
  width: 260px;
  flex-shrink: 0;
  background-color: white;
  box-shadow: 8px 0px 16px 0px $color-gray-100;
  border-right: 1px solid $color-gray-100;

  @include mobile {
    width: 100%;
  }
}

.mainArea {
  flex-grow: 1;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

.toastHubWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 32px 32px 0 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  pointer-events: none;
}
